/* Singolo id che riduce la larghezza della pagina web, centrandola e senza intaccare lo header */
#main-footer-container{
    width: 85%;
    margin: auto;
    /* Il "position:relative" mi serve per posizionare correttamente i crediti nel footer */
    position: relative;
}