/* Settaggio di alcuni attributi generali di stile */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Sezione header con background colorato, pattern ripetuto e logo */
header{
    height: 100px;
    background-color: blueviolet;
    background-image: url(../img/pattern.png);
    background-size: 20%;
    background-repeat: repeat;
    /* "position: relative" serve per poter posizionare il logo. */
    position: relative;
}

/* id del logo che ne consente il posizionamento */
#logo{
    position: absolute;
    bottom: 0;
    left: 10px;
}

main, footer{
    padding: 0 30px;
}

section{
    margin: 40px 0;
}

/* Sezione di sub intestazione (contenente il titolo della pagina web) con settaggio colori per sottotitolo e footer*/
#sub-intestazione, footer{
    color: grey;
}

/* Sovradimensionamento del titolo (unico h1 della pagina) */
h1{
    color: black;
    font-size: 60px;
}

/* Completamento del sottotitolo con diversa tonalita' cromatica */
#sub-intestazione h2::after{
    color: lightgray;
    content: "The Booleaner";
}

/* "display: inline-block" ci consente di affiancare le due foto (incluse nei div)*/
#tim1, #tim2{
    display: inline-block;
    background-size: cover;
    background-position: center;
}

#tim1{
    width: 50%;
    height: 600px;
    background-image: url(../img/tim-1.jpg);
}

#tim2{
    width: 47%;
    height: 600px;
    background-image: url(../img/tim-2.jpg);
}

/* Rimozione degli indici di lista */
#credits{
    list-style: none;
}

/* Formattazione tabella */
.section-table{
    width: 100%;
    border-spacing: 0;
    text-align: left;
}

/* Larghezza colonne 1 e 2 */
.column{
    width: 20%;
}

/* Background a righe alternate */
tbody tr:nth-child(odd){
    background-color: lightgrey;
}

/* Background e colore testo del table head */
thead{
    color: white;
    background-color: blueviolet;
}

/* Classe comune ai div di ciascuna delle due foto del footer */
.footer-img{
    margin: 15px 0;
    width: 300px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

#img1{
    background-image: url(../img/monitor.jpg);
}

#img2{
    background-image: url(../img/graph.jpg);
}

/* Attributi del testo dei due tag anchor "a" con font google "Ubuntu"*/
.links{
    font-family: 'Ubuntu', sans-serif;
    color: aquamarine;
    text-decoration: none;
    line-height: 90px;
    font-size: 30px;
}